.bigDiv {
    margin-top: 5em;
}


.cardList {
    width: 98vw;
    margin: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1.25rem;
   background-image: url('../../../assets/images/background01.jpg');
   background-repeat: no-repeat;
   background-size: cover;
    /* display: flex; */
    flex-wrap:wrap;
    justify-content: space-evenly;

    @media (max-width: 768px) {
        margin-top: none;
        width: 100vw;
        grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
        margin-left: 0; /* Ajusta el margen izquierdo */
        margin-right: 0; /* Ajusta el margen derecho */
    }
}